@model System.Collections.Generic.IEnumerable<SystemEkspercki.Models.Laptop>

@{
    ViewBag.Title = "Summary";
}

<h2>Nasze laptopy:</h2>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Opis
            </th>
            <th>
                Cena
            </th>
            <th>
                Specyfikacja
            </th>
            <th>
                Kup
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Link)">Zobacz pełną specyfikację</a>
                </td>
                <td>
                    <a href="http://www.ceneo.pl/;szukaj-@Html.DisplayFor(modelItem => item.Name)">Wyszukaj w Ceneo</a>
                </td>
            </tr>
        }

    </table>
</div>