@model SystemEkspercki.Models.FuzzyQuestion

<fieldset>
    <legend>FuzzyQuestion</legend>

   
    <div id="questionfield">
        @Html.DisplayFor(model => model.Name)
    </div>

    <select name="answer" id="answers">
        @foreach (var answer in Model.Answers)
        {
            <option value="@answer.Weight">@answer.Name</option>
        }
    </select>
   

</fieldset>