@model SystemEkspercki.Models.BoolQuestion

<fieldset>
    <legend>BoolQuestion</legend>
  
    <div id="questionfield">
        @Html.DisplayFor(model => model.Name)
    </div>


    <select name="answer">
       
            <option value="1">Tak</option>
            <option value="0">Nie</option>
    </select>
</fieldset>
