@model SystemEkspercki.Models.FuzzyQuestion
<h2>ShowFuzzyQuestion</h2>

<fieldset>
    <legend>FuzzyQuestion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>


    <select name="answer">
        @foreach (var answer in Model.Answers)
        {
            <option value="@answer.Weight">@answer.Name</option>
        }
    </select>
   

</fieldset>